.header {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  border: 2px solid black;
  margin: 5px;
}
